<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- Tell the browser to be responsive to screen width -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="keywords"
			content="juan, osio, electiva III, UPTA, UPT Aragua"
		/>
		<meta
			name="description"
			content="App de compra y venta para electiva III - Juan Osio"
		/>
		<meta name="robots" content="noindex,nofollow" />
		<title>404 - Página no encontrada</title>
		
		<!-- Favicon icon -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/favicon.png"
		/>
		
		<link
			href="/plugins/chartist-js/dist/chartist-init.css"
			rel="stylesheet"
		/>
		<link
			href="/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
			rel="stylesheet"
		/>

		<!-- Custom CSS -->
		<link href="/css/style.min.css" rel="stylesheet" />
	</head>



<body>
	<div class="main-wrapper">
      

        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title">404</h1>
                <h3 class="text-uppercase error-subtitle">PÁGINA NO ENCONTRADA !</h3>
                <p class="text-muted mb-4 mt-4">DEBERÍAS VOLVER A BUSCAR DESDE EL INICIO</p>
                <a href="/admin" class="btn btn-info btn-rounded waves-effect waves-light mb-4">Volver al inicio</a>
            </div>
            <footer class="footer text-center w-100">
                © 2020 Juan Osio - Electiva III
            </footer>
        </div>

    </div>


</body>
</html>
