
				</div>

				<footer class="footer">© 2020 Juan Osio - Electiva III</footer>

			</div>

		</div>

		<script src="/plugins/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script src="/plugins/popper.js/dist/umd/popper.min.js"></script>
		<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/app-style-switcher.js"></script>
		<!--Wave Effects -->
		<script src="/js/waves.js"></script>
		<!--Menu sidebar -->
		<script src="/js/sidebarmenu.js"></script>
		<!--Custom JavaScript -->
		<script src="/js/custom.js"></script>
	</body>
</html>