<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- Tell the browser to be responsive to screen width -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="keywords"
			content="juan, osio, electiva III, UPTA, UPT Aragua"
		/>
		<meta
			name="description"
			content="App de compra y venta para electiva III - Juan Osio"
		/>
		<meta name="robots" content="noindex,nofollow" />
		<title>Dashboard</title>
		<link
			rel="canonical"
			href="https://www.wrappixel.com/templates/materialpro-lite/"
		/>
		<!-- Favicon icon -->
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/images/favicon.png"
		/>
		<!--This page css - Morris CSS -->
		<link href="/plugins/c3-master/c3.min.css" rel="stylesheet" />
		<!-- Custom CSS -->
		<link href="/css/style.min.css" rel="stylesheet" />
	</head>

